[heater_generic iDryer_S2_Heater]
heater_pin: H2
max_power: 1
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: T2
control: pid
pwm_cycle_time: 0.3
min_temp: 0
max_temp: 120
pid_Kp=32.923
pid_Ki=5.628
pid_Kd=48.150

[verify_heater iDryer_S2_Heater]
max_error: 240
check_gain_time: 120
heating_gain: 1

[heater_fan S2_Fan]
fan_speed: 1
pin: FAN2
heater: iDryer_S2_Heater
heater_temp: 55

[temperature_sensor iDryer_S2_Air]
sensor_type: SHT3X
i2c_address: 68 #   Default is 68 (0x44) - low. 69  0x45 -high
# i2c_bus: i2c1f
i2c_software_sda_pin: gpio22
i2c_software_scl_pin: gpio23

[gcode_macro QUERY_sht30]
gcode:
    {action_respond_info("Humidity  %.2f%%" %(printer["sht3x iDryer_S2_Air"].humidity))}



[servo srv_S2]
pin: SRV2
maximum_servo_angle: 180
minimum_pulse_width: 0.00055 #0.00055
maximum_pulse_width: 0.002
# initial_angle:90

[gcode_macro servo_S2]
gcode:
    {% set angle = params.ANGLE|default(90)|int %} 
    SET_SERVO SERVO=srv_S2 ANGLE={angle}
    
