[heater_generic iDryer_U1_Heater]
heater_pin: iDryer:H_U1
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: iDryer:T_U1
min_temp: 0
max_temp: 110
control: pid
pid_Kp=47.173
pid_Ki=3.276
pid_Kd=169.826

[heater_fan Fan_U1]
pin: iDryer:FAN_U1
heater: iDryer_U1_Heater
heater_temp: 55

[temperature_sensor iDryer_U1_Air]
sensor_type: SHT3X
i2c_mcu: iDryer
i2c_bus: i2c0f
i2c_address: 68

[servo srv_U1]
pin: iDryer:SRV_U1
minimum_pulse_width: 0.00054
maximum_pulse_width: 0.00245

[neopixel sprd]
pin: iDryer:NEOPIXEL0
chain_count: 4
initial_RED: 0
initial_GREEN: 0
initial_BLUE: 0.01

[gcode_macro PLA_U1]
gcode:
	DRY_U1 TEMPERATURE=55 HUMIDITY=10 TIME=180

[gcode_macro TPU_U1]
gcode:
	DRY_U1 TEMPERATURE=60 HUMIDITY=10 TIME=300

[gcode_macro PETG_U1]
gcode:
	DRY_U1 TEMPERATURE=65 HUMIDITY=10 TIME=240

[gcode_macro ABS_U1]
gcode:
	DRY_U1 TEMPERATURE=80 HUMIDITY=10 TIME=240

[gcode_macro PA_U1]
gcode:
	DRY_U1 TEMPERATURE=90 HUMIDITY=10 TIME=240

[gcode_macro DRY_U1]
variable_delta_high          : 15   #degrees celsius
variable_hyst_humidity       : 2    #humidity histeresis for storage mode, degrees
variable_servo_open_angle    : 30   #degrees
variable_servo_closed_angle  : 85   #degrees
variable_servo_open_time     : 10   #second
variable_servo_closed_time   : 600  #second
variable_max_bright          : 0.5  #maximum brightness of indicators range from 0 to 1
variable_min_bright          : 0.02 #minimum brightness of indicators range from 0 to 1
variable_storage_after_timer : 0    #turn on storage mode after the drying timer ends [0/1]
variable_telegram            : 0    #messages in the telegram bot [0/1]
### Do not touch the variables below!!! ###
variable_temp: 55
variable_humidity: 10
variable_time: 180
variable_off_timer: 0
variable_servo_angle: 0
variable_dry_mode: 0
variable_storage_mode: 0
variable_storage_heat: 0
gcode:
	{% set set_temp = params.TEMPERATURE|default(55)|int %} 
	{% set set_humidity = params.HUMIDITY|default(10)|int %} 
	{% set set_time = params.TIME|default(180)|int %}

	_STOP_MACROS_U1

	SET_GCODE_VARIABLE MACRO=DRY_U1 VARIABLE=temp VALUE={set_temp}
	SET_GCODE_VARIABLE MACRO=DRY_U1 VARIABLE=humidity VALUE={set_humidity}
	SET_GCODE_VARIABLE MACRO=DRY_U1 VARIABLE=time VALUE={set_time}
	SET_GCODE_VARIABLE MACRO=DRY_U1 VARIABLE=off_timer VALUE=0
    SET_GCODE_VARIABLE MACRO=DRY_U1 VARIABLE=servo_angle VALUE={servo_closed_angle}
    SET_GCODE_VARIABLE MACRO=DRY_U1 VARIABLE=dry_mode VALUE=1
	SET_GCODE_VARIABLE MACRO=DRY_U1 VARIABLE=storage_mode VALUE=0

	UPDATE_DELAYED_GCODE ID=_UPDATE_U1 DURATION=1
	UPDATE_DELAYED_GCODE ID=_LED_SERVICE DURATION=1
	UPDATE_DELAYED_GCODE ID=_TOGGLE_SERVO_U1 DURATION={servo_closed_time}
    
	{% set pref = "tgnotify" if telegram else "" %}
	RESPOND PREFIX={pref} MSG="iDryer_U1 Temp: {set_temp}C Humidity: {set_humidity}% Timer: {set_time} min Current humidity: {printer["sht3x iDryer_U1_Air"].humidity}%"

[gcode_macro STORAGE_U1]
gcode:
	{% set unit = printer["gcode_macro DRY_U1"] %}

	{% if params.TEMPERATURE is defined %}
		{% set set_temp = params.TEMPERATURE|default(55)|int %}
		SET_GCODE_VARIABLE MACRO=DRY_U1 VARIABLE=temp VALUE={set_temp}
    {% else %}
        {% set set_temp = unit.temp %}
	{% endif %}
	{% if params.HUMIDITY is defined %}
		{% set set_humidity = params.HUMIDITY|default(10)|int %}
		SET_GCODE_VARIABLE MACRO=DRY_U1 VARIABLE=humidity VALUE={set_humidity}
    {% else %}
        {% set set_humidity = unit.humidity %}
	{% endif %}

	_STOP_MACROS_U1

	SET_GCODE_VARIABLE MACRO=DRY_U1 VARIABLE=storage_mode VALUE=1
    SET_GCODE_VARIABLE MACRO=DRY_U1 VARIABLE=dry_mode VALUE=0
	SET_GCODE_VARIABLE MACRO=DRY_U1 VARIABLE=storage_heat VALUE=0

	UPDATE_DELAYED_GCODE ID=_STORAGE_U1 DURATION=1
	UPDATE_DELAYED_GCODE ID=_LED_SERVICE DURATION=1

	{% set pref = "tgnotify" if unit.telegram else "" %}
	RESPOND PREFIX={pref} MSG="STORAGE_U1 Temp: {set_temp}C Humidity: {set_humidity}% Current humidity: {printer["sht3x iDryer_U1_Air"].humidity}%"

[gcode_macro _STOP_MACROS_U1]
gcode:
	UPDATE_DELAYED_GCODE ID=_UPDATE_U1 DURATION=0
	UPDATE_DELAYED_GCODE ID=_TIMER_U1 DURATION=0
	UPDATE_DELAYED_GCODE ID=_STORAGE_U1 DURATION=0
	SET_HEATER_TEMPERATURE HEATER=iDryer_U1_Heater TARGET=0
	UPDATE_DELAYED_GCODE ID=_LED_SERVICE DURATION=0
	UPDATE_DELAYED_GCODE ID=_TOGGLE_SERVO_U1 DURATION=0
	_SERVO_CLOSE_U1

[gcode_macro OFF_U1]
gcode:
	{% set unit = printer["gcode_macro DRY_U1"] %}

	_STOP_MACROS_U1
	SET_LED LED=sprd RED={unit.min_bright} GREEN={unit.min_bright} BLUE={unit.min_bright} TRANSMIT=1 SYNC=0

    SET_GCODE_VARIABLE MACRO=DRY_U1 VARIABLE=storage_mode VALUE=0
    SET_GCODE_VARIABLE MACRO=DRY_U1 VARIABLE=dry_mode VALUE=0

	{% set pref = "tgnotify" if unit.telegram else "" %}
	RESPOND PREFIX={pref} MSG="iDryer_U1 is OFF, current humidity: {printer["sht3x iDryer_U1_Air"].humidity}%"
	

[gcode_macro _SERVO_CLOSE_U1]
gcode:
	{% set unit = printer["gcode_macro DRY_U1"] %}
	SET_SERVO SERVO=srv_U1 ANGLE={unit.servo_closed_angle}
	G4 P300
	SET_SERVO SERVO=srv_U1 WIDTH=0
	
[gcode_macro STATUS_U1]
gcode:
    {% set unit = printer["gcode_macro DRY_U1"] %}
    {% set heater = "ON" if printer["heater_generic iDryer_U1_Heater"].power else "OFF" %}
	{% set humidity = printer["sht3x iDryer_U1_Air"].humidity %}
	{% set temp = printer["temperature_sensor iDryer_U1_Air"].temperature|round(1) %}
	{% set pref = "tgnotify" if unit.telegram else "" %}
    {% set mode = "Drying" if unit.dry_mode else "Storage" if unit.storage_mode else "OFF" %}
	RESPOND PREFIX={pref} MSG="iDryer_U1 mode: {mode} Temp: {temp}C Humidity: {humidity}% Heater: {heater} Storage after timer: {unit.storage_after_timer}"

[gcode_macro STORAGE_AFTER_TIMER_U1]
gcode:
    {% set unit = printer["gcode_macro DRY_U1"] %}
	{% if unit.storage_after_timer %}
		SET_GCODE_VARIABLE MACRO=DRY_U1 VARIABLE=storage_after_timer VALUE=0
        {% set pref = "tgnotify" if unit.telegram else "" %}
    	RESPOND PREFIX={pref} MSG="iDryer_U1 will turn off when the timer ends"
	{% else %}
		SET_GCODE_VARIABLE MACRO=DRY_U1 VARIABLE=storage_after_timer VALUE=1
        {% set pref = "tgnotify" if unit.telegram else "" %}
    	RESPOND PREFIX={pref} MSG="iDryer_U1 storage mode will be enabled after the timer expires"
	{% endif %}

[gcode_macro TELEGRAM_U1]
gcode:
    {% set unit = printer["gcode_macro DRY_U1"] %}
	{% if unit.telegram %}
		SET_GCODE_VARIABLE MACRO=DRY_U1 VARIABLE=telegram VALUE=0
        RESPOND PREFIX=tgnotify MSG="Telegram messages are disabled"
	{% else %}
		SET_GCODE_VARIABLE MACRO=DRY_U1 VARIABLE=telegram VALUE=1
        RESPOND PREFIX=tgnotify MSG="Telegram messages are enabled"
	{% endif %}

[delayed_gcode _UPDATE_U1]
gcode:
	{% set unit = printer["gcode_macro DRY_U1"] %}
	{% set sensor_temp = printer["temperature_sensor iDryer_U1_Air"].temperature|int %}

	{% if sensor_temp > unit.temp %}
		{% set target_temp = 0 %}
	{% elif sensor_temp == unit.temp %}
		{% set target_temp = unit.temp %}
		{% if not unit.off_timer %}
			UPDATE_DELAYED_GCODE ID=_TIMER_U1 DURATION={unit.time * 60}
			SET_GCODE_VARIABLE MACRO=DRY_U1 VARIABLE=off_timer VALUE=1
            {% set pref = "tgnotify" if unit.telegram else "" %}
			RESPOND PREFIX={pref} MSG="iDryer_U1 timer on: {unit.time} min"
		{% endif %}
	{% elif sensor_temp < unit.temp %}
		{% set target_temp = unit.temp + unit.delta_high %}
	{% endif %}

	SET_HEATER_TEMPERATURE HEATER=iDryer_U1_Heater TARGET={target_temp}
	UPDATE_DELAYED_GCODE ID=_UPDATE_U1 DURATION=1

[delayed_gcode _LED_SERVICE]
gcode:
	{% set unit = printer["gcode_macro DRY_U1"] %}
	{% set heater = printer["heater_generic iDryer_U1_Heater"].power|float %}
	{% set fan = printer["heater_fan Fan_U1"].speed|float %}
	{% set humidity = printer["sht3x iDryer_U1_Air"].humidity|float %}
	{% set temp = printer["temperature_sensor iDryer_U1_Air"].temperature|float %}

	{% if heater %}
		SET_LED LED=sprd RED={unit.max_bright} GREEN={0} BLUE={unit.max_bright} INDEX={1}
	{% else %}
		SET_LED LED=sprd RED={unit.min_bright} GREEN={unit.min_bright} BLUE={unit.min_bright} INDEX={1}
	{% endif %}

	{% if fan %}
		SET_LED LED=sprd RED={0} GREEN={unit.max_bright} BLUE={unit.max_bright} INDEX={2}
	{% else %}
		SET_LED LED=sprd RED={unit.min_bright} GREEN={unit.min_bright} BLUE={unit.min_bright} INDEX={2}
	{% endif %}

	{% if unit.storage_mode %}
		{% set r_hum = 0 %}
		{% set g_hum = unit.max_bright %}
		{% set b_hum = 0 %}
	{% else %}
		{% if humidity < 5 %}
			{% set r_hum = unit.max_bright %}
			{% set g_hum = 0.5 * unit.max_bright %}
			{% set b_hum = 0 %}
		{% elif humidity >= 5 and humidity <= 30 %}
			{% set r_hum = (unit.max_bright - (humidity - 5) * unit.max_bright / 25)|round(3) %}
			{% set g_hum = (unit.max_bright * 0.5 - (humidity - 5) * unit.max_bright * 0.5 / 25)|round(3) %}
			{% set b_hum = ((humidity - 5) * unit.max_bright / 25)|round(3) %}
		{% else %}
			{% set r_hum = 0 %}
			{% set g_hum = 0 %}
			{% set b_hum = unit.max_bright %}
		{% endif %}
	{% endif %}
	SET_LED LED=sprd RED={r_hum} GREEN={g_hum} BLUE={b_hum} INDEX={3}

	{% if temp < 25 %}
		{% set r_temp = 0 %}
		{% set g_temp = 0 %}
		{% set b_temp = unit.max_bright %}
	{% elif temp >= 25 and temp <= unit.temp %}
		{% set r_temp = ((temp - 25) * unit.max_bright / (unit.temp - 25))|round(3) %}
		{% set g_temp = 0 %}
		{% set b_temp = (unit.max_bright - (temp - 25) * unit.max_bright / (unit.temp - 25))|round(3) %}
	{% else %}
		{% set r_temp = unit.max_bright %}
		{% set g_temp = 0 %}
		{% set b_temp = 0 %}
	{% endif %}
	SET_LED LED=sprd RED={r_temp} GREEN={g_temp} BLUE={b_temp} INDEX={4} TRANSMIT=1 SYNC=0

	UPDATE_DELAYED_GCODE ID=_LED_SERVICE DURATION=1

[delayed_gcode _TOGGLE_SERVO_U1]
gcode:
	{% set unit = printer["gcode_macro DRY_U1"] %}

	{% if unit.servo_angle == unit.servo_open_angle %}
		SET_SERVO SERVO=srv_U1 ANGLE={unit.servo_closed_angle}
		G4 P300
		SET_SERVO SERVO=srv_U1 WIDTH=0
		SET_GCODE_VARIABLE MACRO=DRY_U1 VARIABLE=servo_angle VALUE={unit.servo_closed_angle}
		UPDATE_DELAYED_GCODE ID=_TOGGLE_SERVO_U1 DURATION={unit.servo_closed_time}
	{% elif unit.servo_angle == unit.servo_closed_angle %}
		SET_SERVO SERVO=srv_U1 ANGLE={unit.servo_open_angle}
		G4 P300
		SET_SERVO SERVO=srv_U1 WIDTH=0
		SET_GCODE_VARIABLE MACRO=DRY_U1 VARIABLE=servo_angle VALUE={unit.servo_open_angle}
		UPDATE_DELAYED_GCODE ID=_TOGGLE_SERVO_U1 DURATION={unit.servo_open_time}
	{% endif %}

[delayed_gcode _TIMER_U1]
gcode:
    {% set unit = printer["gcode_macro DRY_U1"] %}
	{% if unit.storage_after_timer %} STORAGE_U1 {% else %} OFF_U1 {% endif %}

[delayed_gcode _STORAGE_U1]
gcode:
	{% set unit = printer["gcode_macro DRY_U1"] %}
	{% set sensor_humidity = printer["sht3x iDryer_U1_Air"].humidity|float %}
	{% set sensor_temp = printer["temperature_sensor iDryer_U1_Air"].temperature|int %}

	{% if sensor_humidity < unit.humidity - unit.hyst_humidity %}
		SET_GCODE_VARIABLE MACRO=DRY_U1 VARIABLE=storage_heat VALUE=0
	{% elif sensor_humidity > unit.humidity + unit.hyst_humidity %}
		SET_GCODE_VARIABLE MACRO=DRY_U1 VARIABLE=storage_heat VALUE=1
	{% endif %}
	
	{% if unit.storage_heat %}
		{% if sensor_temp > unit.temp %}
			{% set target_temp = 0 %}
		{% elif sensor_temp == unit.temp %}
			{% set target_temp = unit.temp %}
		{% elif sensor_temp < unit.temp %}
			{% set target_temp = unit.temp + unit.delta_high %}
		{% endif %}
	{% else %}
		{% set target_temp = 0 %}
	{% endif %}
		
	SET_HEATER_TEMPERATURE HEATER=iDryer_U1_Heater TARGET={target_temp}
	UPDATE_DELAYED_GCODE ID=_STORAGE_U1 DURATION=1