[gcode_macro _SETTINGS_U1]
variable_delta_high          : 15   #degrees, celsius
variable_hyst_humidity       : 2    #humidity histeresis for storage mode, degrees
variable_servo_open_angle    : 30   #degrees
variable_servo_closed_angle  : 85   #degrees
variable_servo_open_time     : 10   #second
variable_servo_closed_time   : 600  #second
variable_max_bright          : 0.5  #maximum brightness of indicators range from 0 to 1
variable_min_bright          : 0.02 #minimum brightness of indicators range from 0 to 1
### Do not touch the variables below!!! ###
variable_temp: 55
variable_humidity: 10
variable_time: 180
variable_off_timer: 0
variable_dry_mode: 0
variable_storage_mode: 0
variable_storage_heat: 0
variable_servo_n: 0
variable_servo_steps: 55
variable_servo_step_duration: 0.2
variable_kp: 7.2
variable_ki: 0.45
variable_kd: 28.8
variable_int: 0
variable_perror: 0
gcode:

[heater_generic iDryer_U1_Heater]
heater_pin: H_U1
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: T_U1
min_temp: 0
max_temp: 110
control: pid
pid_Kp=47.184
pid_Ki=3.114
pid_Kd=178.711

[verify_heater iDryer_U1_Heater]
max_error: 240
check_gain_time: 120
heating_gain: 1

[heater_fan Fan_U1]
pin: FAN_U1
heater: iDryer_U1_Heater
heater_temp: 55

[temperature_sensor iDryer_U1_Air]
sensor_type: SHT3X
i2c_bus: i2c0f
i2c_address: 68

[servo srv_U1]
pin: SRV_U1
minimum_pulse_width: 0.00054
maximum_pulse_width: 0.00245

[neopixel sprd]
pin: NEOPIXEL0
chain_count: 4
initial_RED: 0
initial_GREEN: 0
initial_BLUE: 0

[idle_timeout]
gcode:

[save_variables]
filename: ~/printer_data/config/iDryer_mcu/variables_u1.cfg

[display_template led_heater]
text:
    {% set unit = printer["gcode_macro _SETTINGS_U1"] %}
    {% set heater = printer["heater_generic iDryer_U1_Heater"].power|float %}
    
    {% if heater %}
        {% set r = unit.max_bright %}
        {% set g = 0 %}
        {% set b = unit.max_bright %}
    {% else %}
        {% set r = unit.min_bright %}
        {% set g = unit.min_bright %}
        {% set b = unit.min_bright %}
    {% endif %}
    {r}, {g}, {b}

[display_template led_fan]
text:
    {% set unit = printer["gcode_macro _SETTINGS_U1"] %}
    {% set fan = printer["heater_fan Fan_U1"].speed|float %}
    
    {% if fan %}
        {% set r = 0 %}
        {% set g = unit.max_bright %}
        {% set b = unit.max_bright %}
    {% else %}
        {% set r = unit.min_bright %}
        {% set g = unit.min_bright %}
        {% set b = unit.min_bright %}
    {% endif %}
    {r}, {g}, {b}
    
[display_template led_humidity]
text:
    {% set unit = printer["gcode_macro _SETTINGS_U1"] %}
    {% set humidity = printer["sht3x iDryer_U1_Air"].humidity|float %}

    {% if unit.storage_mode %}
        {% set r = 0 %}
        {% set g = unit.max_bright %}
        {% set b = 0 %}
    {% else %}
        {% if humidity < 5 %}
            {% set r = unit.max_bright %}
            {% set g = unit.max_bright * 0.5 %}
            {% set b = 0 %}
        {% elif humidity >= 5 and humidity <= 30 %}
            {% set r = (unit.max_bright - (humidity - 5) * unit.max_bright / 25)|round(3) %}
            {% set g = (unit.max_bright * 0.5 - (humidity - 5) * unit.max_bright * 0.5 / 25)|round(3) %}
            {% set b = ((humidity - 5) * unit.max_bright / 25)|round(3) %}
        {% else %}
            {% set r = 0 %}
            {% set g = 0 %}
            {% set b = unit.max_bright %}
        {% endif %}
    {% endif %}
    {r}, {g}, {b}

[display_template led_temp]
text:
    {% set unit = printer["gcode_macro _SETTINGS_U1"] %}
    {% set temp = printer["temperature_sensor iDryer_U1_Air"].temperature|float %}
    
    {% if temp < 25 %}
        {% set r = 0 %}
        {% set g = 0 %}
        {% set b = unit.max_bright %}
    {% elif temp >= 25 and temp <= 55 %}
        {% set r = ((temp - 25) * unit.max_bright / 30)|round(3) %}
        {% set g = 0 %}
        {% set b = (unit.max_bright - (temp - 25) * unit.max_bright / 30)|round(3) %}
    {% else %}
        {% set r = unit.max_bright %}
        {% set g = 0 %}
        {% set b = 0 %}
    {% endif %}
    {r}, {g}, {b}

[delayed_gcode _AFTER_BOOT]
initial_duration: 1
gcode:
    SET_LED_TEMPLATE LED=sprd INDEX=1 TEMPLATE=led_heater
    SET_LED_TEMPLATE LED=sprd INDEX=2 TEMPLATE=led_fan
    SET_LED_TEMPLATE LED=sprd INDEX=3 TEMPLATE=led_humidity
    SET_LED_TEMPLATE LED=sprd INDEX=4 TEMPLATE=led_temp
    _SERVO_CLOSE_U1

[gcode_macro PLA_U1]
gcode:
    DRY_U1 TEMPERATURE=55 HUMIDITY=10 TIME=180

[gcode_macro TPU_U1]
gcode:
    DRY_U1 TEMPERATURE=60 HUMIDITY=10 TIME=300

[gcode_macro PETG_U1]
gcode:
    DRY_U1 TEMPERATURE=65 HUMIDITY=10 TIME=240

[gcode_macro ABS_U1]
gcode:
    DRY_U1 TEMPERATURE=80 HUMIDITY=10 TIME=240

[gcode_macro PA_U1]
gcode:
    DRY_U1 TEMPERATURE=90 HUMIDITY=10 TIME=240

[gcode_macro DRY_U1]
gcode:
    {% set unit = printer["gcode_macro _SETTINGS_U1"] %}
    {% set svv = printer.save_variables.variables %}
    
    {% set set_temp = params.TEMPERATURE|default(55)|int %} 
    {% set set_humidity = params.HUMIDITY|default(10)|int %} 
    {% set set_time = params.TIME|default(180)|int %}

    _STOP_MACROS_U1

    SET_GCODE_VARIABLE MACRO=_SETTINGS_U1 VARIABLE=temp VALUE={set_temp}
    SET_GCODE_VARIABLE MACRO=_SETTINGS_U1 VARIABLE=humidity VALUE={set_humidity}
    SET_GCODE_VARIABLE MACRO=_SETTINGS_U1 VARIABLE=time VALUE={set_time}
    SET_GCODE_VARIABLE MACRO=_SETTINGS_U1 VARIABLE=off_timer VALUE=0
    SET_GCODE_VARIABLE MACRO=_SETTINGS_U1 VARIABLE=servo_n VALUE=0
    SET_GCODE_VARIABLE MACRO=_SETTINGS_U1 VARIABLE=dry_mode VALUE=1
    SET_GCODE_VARIABLE MACRO=_SETTINGS_U1 VARIABLE=storage_mode VALUE=0
    
    UPDATE_DELAYED_GCODE ID=_UPDATE_U1 DURATION=1
    
    {% set pref = "tgnotify" if svv.telegram else "" %}
    RESPOND PREFIX={pref} MSG="iDryer_U1 Temp: {set_temp}C Humidity: {set_humidity}% Timer: {set_time} min Current humidity: {printer["sht3x iDryer_U1_Air"].humidity}%"

[gcode_macro STORAGE_U1]
gcode:
    {% set unit = printer["gcode_macro _SETTINGS_U1"] %}
    {% set svv = printer.save_variables.variables %}

    {% if params.TEMPERATURE is defined %}
        {% set set_temp = params.TEMPERATURE|default(55)|int %}
        SET_GCODE_VARIABLE MACRO=_SETTINGS_U1 VARIABLE=temp VALUE={set_temp}
    {% else %}
        {% set set_temp = unit.temp %}
    {% endif %}
    {% if params.HUMIDITY is defined %}
        {% set set_humidity = params.HUMIDITY|default(10)|int %}
        SET_GCODE_VARIABLE MACRO=_SETTINGS_U1 VARIABLE=humidity VALUE={set_humidity}
    {% else %}
        {% set set_humidity = unit.humidity %}
    {% endif %}

    _STOP_MACROS_U1

    SET_GCODE_VARIABLE MACRO=_SETTINGS_U1 VARIABLE=storage_mode VALUE=1
    SET_GCODE_VARIABLE MACRO=_SETTINGS_U1 VARIABLE=dry_mode VALUE=0
    SET_GCODE_VARIABLE MACRO=_SETTINGS_U1 VARIABLE=storage_heat VALUE=1

    UPDATE_DELAYED_GCODE ID=_STORAGE_U1 DURATION=1
    
    {% set pref = "tgnotify" if svv.telegram else "" %}
    RESPOND PREFIX={pref} MSG="STORAGE_U1 Temp: {set_temp}C Humidity: {set_humidity}% Current humidity: {printer["sht3x iDryer_U1_Air"].humidity}%"

[gcode_macro OFF_U1]
gcode:
    {% set svv = printer.save_variables.variables %}

    _STOP_MACROS_U1
    
    SET_GCODE_VARIABLE MACRO=_SETTINGS_U1 VARIABLE=storage_mode VALUE=0
    SET_GCODE_VARIABLE MACRO=_SETTINGS_U1 VARIABLE=dry_mode VALUE=0
    SET_GCODE_VARIABLE MACRO=_SETTINGS_U1 VARIABLE=int VALUE=0

    {% set pref = "tgnotify" if svv.telegram else "" %}
    RESPOND PREFIX={pref} MSG="iDryer_U1 is OFF, current humidity: {printer["sht3x iDryer_U1_Air"].humidity}%"
    
[gcode_macro STATUS_U1]
gcode:
    {% set unit = printer["gcode_macro _SETTINGS_U1"] %}
    {% set svv = printer.save_variables.variables %}
    {% set heater = "ON" if printer["heater_generic iDryer_U1_Heater"].power else "OFF" %}
    {% set humidity = printer["sht3x iDryer_U1_Air"].humidity %}
    {% set temp = printer["temperature_sensor iDryer_U1_Air"].temperature|round(1) %}
    {% set pref = "tgnotify" if svv.telegram else "" %}
    {% set mode = "Drying" if unit.dry_mode else "Storage" if unit.storage_mode else "OFF" %}
    RESPOND PREFIX={pref} MSG="iDryer_U1 mode: {mode} Temp: {temp}C Humidity: {humidity}% Heater: {heater} Storage after timer: {svv.storage_after_timer}"

[gcode_macro STORAGE_AFTER_TIMER_U1]
gcode:
    {% set svv = printer.save_variables.variables %}
    {% if svv.storage_after_timer %}
        SAVE_VARIABLE VARIABLE=storage_after_timer VALUE=0
        {% set pref = "tgnotify" if svv.telegram else "" %}
        RESPOND PREFIX={pref} MSG="iDryer_U1 will turn OFF when the timer ends"
    {% else %}
        SAVE_VARIABLE VARIABLE=storage_after_timer VALUE=1
        {% set pref = "tgnotify" if svv.telegram else "" %}
        RESPOND PREFIX={pref} MSG="iDryer_U1 storage mode will be enabled after the timer expires"
    {% endif %}

[gcode_macro TELEGRAM_U1]
gcode:
    {% set svv = printer.save_variables.variables %}
    {% if svv.telegram %}
        SAVE_VARIABLE VARIABLE=telegram VALUE=0
        RESPOND PREFIX=tgnotify MSG="Telegram messages are disabled"
    {% else %}
        SAVE_VARIABLE VARIABLE=telegram VALUE=1
        RESPOND PREFIX=tgnotify MSG="Telegram messages are enabled"
    {% endif %}

[gcode_macro _STOP_MACROS_U1]
gcode:
    UPDATE_DELAYED_GCODE ID=_UPDATE_U1 DURATION=0
    UPDATE_DELAYED_GCODE ID=_TIMER_U1 DURATION=0
    UPDATE_DELAYED_GCODE ID=_STORAGE_U1 DURATION=0
    SET_HEATER_TEMPERATURE HEATER=iDryer_U1_Heater TARGET=0
    UPDATE_DELAYED_GCODE ID=_SLOW_SERVO_OPEN_U1 DURATION=0
    UPDATE_DELAYED_GCODE ID=_SLOW_SERVO_CLOSE_U1 DURATION=0
    _SERVO_CLOSE_U1

[gcode_macro _SERVO_CLOSE_U1]
gcode:
    {% set unit = printer["gcode_macro _SETTINGS_U1"] %}
    SET_SERVO SERVO=srv_U1 ANGLE={unit.servo_closed_angle}
    UPDATE_DELAYED_GCODE ID=_SERVO_OFF_U1 DURATION=1

[delayed_gcode _UPDATE_U1]
gcode:
    {% set unit = printer["gcode_macro _SETTINGS_U1"] %}
    {% set svv = printer.save_variables.variables %}
    {% set sensor_temp = printer["temperature_sensor iDryer_U1_Air"].temperature %}
    
    {% set error = unit.temp - sensor_temp %}
    {% set derivative = error - unit.perror %}
    
    SET_GCODE_VARIABLE MACRO=_SETTINGS_U1 VARIABLE=perror VALUE={error}
    
    {% set target_temp = (error * unit.kp + unit.int * unit.ki + derivative * unit.kd)|round(1) %}
    #RESPOND MSG="{error|round(2)} {derivative|round(2)} {unit.int|round(2)} {target_temp|round(2)}"
    
    {% if target_temp > unit.temp + unit.delta_high %}
        {% set target_temp = unit.temp + unit.delta_high %}
    {% elif target_temp < 0 %}
        {% set target_temp = 0 %}
    {% else %}
        SET_GCODE_VARIABLE MACRO=_SETTINGS_U1 VARIABLE=int VALUE={unit.int + error}
    {% endif %}

    {% if not unit.off_timer and sensor_temp > unit.temp %}
       UPDATE_DELAYED_GCODE ID=_TIMER_U1 DURATION={unit.time * 60}
       SET_GCODE_VARIABLE MACRO=_SETTINGS_U1 VARIABLE=off_timer VALUE=1
       UPDATE_DELAYED_GCODE ID=_SLOW_SERVO_OPEN_U1 DURATION={unit.servo_closed_time}
       {% set pref = "tgnotify" if svv.telegram else "" %}
       RESPOND PREFIX={pref} MSG="iDryer_U1 timer on: {unit.time} min"
    {% endif %}

    SET_HEATER_TEMPERATURE HEATER=iDryer_U1_Heater TARGET={target_temp}
    UPDATE_DELAYED_GCODE ID=_UPDATE_U1 DURATION=1
    

[delayed_gcode _SLOW_SERVO_OPEN_U1]
gcode:
    {% set unit = printer["gcode_macro _SETTINGS_U1"] %}
    {% set increment = (( unit.servo_closed_angle - unit.servo_open_angle) / unit.servo_steps)|round(3) %}
    {% set n = unit.servo_n + 1 %}
    SET_GCODE_VARIABLE MACRO=_SETTINGS_U1 VARIABLE=servo_n VALUE={n}

    {% if unit.servo_n < unit.servo_steps %}
        {% set angle = (unit.servo_closed_angle - increment * n)|round(3) %}
        SET_SERVO SERVO=srv_U1 ANGLE={angle}
        UPDATE_DELAYED_GCODE ID=_SLOW_SERVO_OPEN_U1 DURATION={unit.servo_step_duration}
    {% else %}
        SET_GCODE_VARIABLE MACRO=_SETTINGS_U1 VARIABLE=servo_n VALUE=0
        UPDATE_DELAYED_GCODE ID=_SLOW_SERVO_CLOSE_U1 DURATION={unit.servo_open_time}
        UPDATE_DELAYED_GCODE ID=_SERVO_OFF_U1 DURATION=1
    {% endif %}
    
[delayed_gcode _SLOW_SERVO_CLOSE_U1]
gcode:
    {% set unit = printer["gcode_macro _SETTINGS_U1"] %}
    {% set increment = (( unit.servo_closed_angle - unit.servo_open_angle) / unit.servo_steps)|round(3) %}
    {% set n = unit.servo_n + 1 %}
    SET_GCODE_VARIABLE MACRO=_SETTINGS_U1 VARIABLE=servo_n VALUE={n}

    {% if unit.servo_n < unit.servo_steps %}
        {% set angle = (unit.servo_open_angle + increment * n)|round(3) %}
        SET_SERVO SERVO=srv_U1 ANGLE={angle}
        UPDATE_DELAYED_GCODE ID=_SLOW_SERVO_CLOSE_U1 DURATION={unit.servo_step_duration}
    {% else %}
        SET_GCODE_VARIABLE MACRO=_SETTINGS_U1 VARIABLE=servo_n VALUE=0
        UPDATE_DELAYED_GCODE ID=_SLOW_SERVO_OPEN_U1 DURATION={unit.servo_closed_time}
        UPDATE_DELAYED_GCODE ID=_SERVO_OFF_U1 DURATION=1
    {% endif %}

[delayed_gcode _TIMER_U1]
gcode:
    {% set svv = printer.save_variables.variables %}
    {% if svv.storage_after_timer %} STORAGE_U1 {% else %} OFF_U1 {% endif %}

[delayed_gcode _STORAGE_U1]
gcode:
    {% set unit = printer["gcode_macro _SETTINGS_U1"] %}
    {% set sensor_humidity = printer["sht3x iDryer_U1_Air"].humidity %}
    {% set sensor_temp = printer["temperature_sensor iDryer_U1_Air"].temperature %}

    {% if sensor_humidity < unit.humidity - unit.hyst_humidity %}
        SET_GCODE_VARIABLE MACRO=_SETTINGS_U1 VARIABLE=storage_heat VALUE=0
    {% elif sensor_humidity > unit.humidity + unit.hyst_humidity %}
        SET_GCODE_VARIABLE MACRO=_SETTINGS_U1 VARIABLE=storage_heat VALUE=1
    {% endif %}
    
    {% if unit.storage_heat %}
    
        {% set error = unit.temp - sensor_temp %}
        {% set derivative = error - unit.perror %}
        
	    SET_GCODE_VARIABLE MACRO=_SETTINGS_U1 VARIABLE=perror VALUE={error}
        
        {% set target_temp = (error * unit.kp + unit.int * unit.ki + derivative * unit.kd)|round(1) %}
        #RESPOND MSG="{error|round(2)} {derivative|round(2)} {unit.int|round(2)} {target_temp|round(2)}"
        
        {% if target_temp > unit.temp + unit.delta_high %}
            {% set target_temp = unit.temp + unit.delta_high %}
        {% elif target_temp < 0 %}
            {% set target_temp = 0 %}
        {% else %}
            SET_GCODE_VARIABLE MACRO=_SETTINGS_U1 VARIABLE=int VALUE={unit.int + error}
        {% endif %}
        
    {% else %}
        {% set target_temp = 0 %}
    {% endif %}
        
    SET_HEATER_TEMPERATURE HEATER=iDryer_U1_Heater TARGET={target_temp}
    UPDATE_DELAYED_GCODE ID=_STORAGE_U1 DURATION=1

[delayed_gcode _SERVO_OFF_U1]
gcode:
    SET_SERVO SERVO=srv_U1 WIDTH=0